
@{
    ViewBag.Title = "KargoDetay";
    Layout = "~/Views/Shared/_cariLayout.cshtml";
}

@{ int sayi = 1;}

@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model  List<KargoTakip>
<br />
<h2>Kargo Detayları</h2>
<br />

@using (Html.BeginForm("KargoTakip", "CariPanel", FormMethod.Post))
{
    <table class="table table-bordered">
        <tr style="background-color:lightblue">
            <th>Adım</th>
            <th>Açıklama</th>
            <th>Tarih</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@sayi</td>
                <td>@item.Acıklama</td>
                <td>@item.Tarih.ToString("dd-MM-yyyy")</td>
            </tr>
            {sayi++; }
        }

    </table>
    <br />
    <button class="btn btn-warning" style="background-color:brown;color:aliceblue">Tamam</button>
}
